body{
    background-color: #62306D;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

div{
    width: 100px;
    height: 100px;
    background: #62306D;
}

div:nth-child(2n){
    background-color: #F7EC7D;
}

.bordeAbajo{
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.bordeArriba{
    border-top-left-radius:100%;
    border-top-right-radius:100%;
}