<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VacunaciónSLP</title>
        <link rel="stylesheet" href="../styles/index.css">
        <!--Font Fredoka-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <h1>VaccinationSLP</h1>
                        </a>
                    </li>
                    <li>
                        <a href="#why">
                            <p class="nav">Why should I vaccine?</p>
                        </a>
                    </li>
                    <li>
                        <a href="#preparations">
                            <p class="nav">Preparations Before Vaccine</p>
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <p class="nav">Emergency Contact</p>
                        </a>
                    </li>
                    <li>
                        <button class="registro" onclick="alert(
                            'Espera un momento')">Sign Up</button>
                    </li>
                </ul>
            </nav>
        </header>

        <section>
            <article id="why">
                <h2>Fight Virus With Vaccines</h2>
                <p class="margen">
                    Let's stop this pandemic by killing the virus with a
                    vaccine, don't let yourself and your family get infected.
                </p>
                <ul class="padding">
                    <li class="padding2">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#ffec00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 12l2 2l4 -4" />
                                <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
                            </svg>
                            <p class="margen2">Best protection</p>
                        </div>
                    </li>
                    <li class="padding2">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#ffec00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                            </svg>
                            <p class="margen2">Selected Vaccines</p>
                        </div>
                    </li>               
                </ul>
                <div class="padding3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#0d2aac" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="12" cy="12" r="9" />
                        <polyline points="12 7 12 12 15 15" />
                    </svg>
                    <p class="margen2">Schedule your vaccinations</p>
                </div>
            </article>
            <img src="../assets/img/front-view-female-nurse-white-medical-suit-with-red-mask-injection-her-hands-blue.jpg" alt="Enfermera">
        </section>

        <section>
            <img src="../assets/img/front-view-young-woman-sterile-mask-yellow-wall.jpg" alt="Mascarilla">
            <article id="preparations">
                <h2>Preparations Before Vaccine</h2>
                <p class="margen">
                    The success of vaccines is strongly influenced by the
                    strength of the body's immune system. Therefore, there are
                    several things than can be tried to make the COVID-19
                    vaccine work.
                </p>
                <ul class="padding">
                    <li class="padding2">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#0d2aac" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 12l2 2l4 -4" />
                                <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
                                </svg>
                            <p class="margen2">Avoid alcoholic beverages</p>
                        </div>
                    </li>
                    <li class="padding2">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#0d2aac" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <rect x="4" y="4" width="16" height="16" rx="2" />
                                <path d="M10 10l4 4m0 -4l-4 4" />
                            </svg>
                            <p class="margen2">Avoid stress</p>
                        </div>
                    </li>     
                    <li class="padding2">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-infographic" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#0d2aac" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="7" cy="7" r="4" />
                                <path d="M7 3v4h4" />
                                <line x1="9" y1="17" x2="9" y2="21" />
                                <line x1="17" y1="14" x2="17" y2="21" />
                                <line x1="13" y1="13" x2="13" y2="21" />
                                <line x1="21" y1="12" x2="21" y2="21" />
                            </svg>
                            <p class="margen2">Eat healthy food</p>
                        </div>
                    </li> 
                    <li class="padding2">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkbox" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#0d2aac" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <polyline points="9 11 12 14 20 6" />
                                <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
                            </svg>
                            <p class="margen2">Get enough sleep</p>
                        </div>
                    </li>
                    <li class="padding2">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heartbeat" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#0d2aac" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M19.5 13.572l-7.5 7.428l-2.896 -2.868m-6.117 -8.104a5 5 0 0 1 9.013 -3.022a5 5 0 1 1 7.5 6.572" />
                                <path d="M3 13h2l2 3l2 -6l1 3h3" />
                            </svg>
                            <p class="margen2">Exercise or physical activity</p>
                        </div>
                    </li>
                </ul>
            </article>
        </section>

        <section>
            <article id="contact">
                <h2>Emergency Contact</h2>
                <p class="margen">
                    Contact one of the contacts below if you or your family
                    feel unwell and have similar symptoms such as Covid-19,
                    make sure you also take care of yourself before reporting
                    to us:
                </p>
                <ul class="padding">
                    <li class="padding2">
                        <div class="contacto">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#0d2aac" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                            </svg>
                            <p class="margen2">Call</p>
                            <button class="boton" onclick="alert(
                            'Espera un momento')">Call Now</button>
                        </div>
                    </li>
                    <li class="padding2">
                        <div class="contacto">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="#0d2aac" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" />
                                <line x1="12" y1="12" x2="12" y2="12.01" />
                                <line x1="8" y1="12" x2="8" y2="12.01" />
                                <line x1="16" y1="12" x2="16" y2="12.01" />
                            </svg>
                            <p class="margen2">Chat</p>
                            <button class="boton" onclick="alert(
                            'Espera un momento')">Chat Now</button>
                        </div>
                    </li>
                </ul>
            </article>
            <img src="../assets/img/portrait-man-doctor-using-cellphone.jpg" alt="Doctor">
        </section>

        <footer>
            <table class="table1">
                <tr>
                    <th class="encabezado1">Vaccination</th>
                </tr>
                <tr>
                    <td>Our goal is to help the world free from the ongoing
                        pandemic
                    </td>
                </tr>
            </table>
            <table class="table2">
                <tr>
                    <th class="encabezado2">About</th>
                    <th class="encabezado2">Company</th>
                    <th class="encabezado2">Support</th>
                </tr>
                <tr>
                    <td>About Us</td>
                    <td>How We Work?</td>
                    <td>FAQs</td>
                </tr>
                <tr>
                    <td>Features</td>
                    <td>Capital</td>
                    <td>Support Center</td>
                </tr>
                <tr>
                    <td>News & Blog</td>
                    <td>Security</td>
                    <td>Contact Us</td>
                </tr>
            </table>
        </footer>
    </body>
</html>