<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Intro LaunchX</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>        
        <div id="app">
            <!-- V-Binding -->
            <img v-bind:src="foto" alt="Foto perfil" :class="genero">
            <h1>{{ nombre }} {{ apellido }}</h1>
            <h3>Email: {{ email }}</h3>
            <!-- Llamar función de Vue -->
            <button v-on:click="cambiarUsuario()" :class="genero">Tener un usuario random</button>
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="../js/app.js"></script>
    </body>
</html>