<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE_edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pastelería D'Joseph - Sitio para el pastelero</title>
    </head>
    <body>
        <img src="../assets/img/logo-D-Joseph-1.png" alt="Logo D'Joseph" width="200" height="200">
        
        <hr>

        <!--Barra de navegación-->
        <a href="">Nosotros</a>
        <a href="">Sucursales</a>
        <a href="">Promociones</a>
        <a href="" title="Lupa iconos creados por Ayub Irawan - Flaticon"><img 
            src="../assets/img/lupa.png" alt="Buscador" width="16"></a>
        <a href="" title="Usuario iconos creados por Freepik - Flaticon"><img
            src="../assets/img/usuario-de-perfil.png" alt="Perfil"></a>
        <a href="" title="Carro iconos creados por uicon - Flaticon"><img
            src="../assets/img/carro-de-la-carretilla.png" alt="Carrito"></a>
        
        <hr>

        <h1>Sitio para el pastelero - Inventario</h1>

        <hr>

        <h2>Productos disponibles</h2>

        <h3>Pasteles</h2>
        <dl>
            <dt>Pastel Pingüino</dt>
            <dd><img src="https://cdn.shopify.com/s/files/1/0262/5080/5306/products/497982-1_600x.jpg?v=1618602708"
                alt="Pastel Pingüino" width="200"><br>
                <p>2</p><br></dd>
            <br>
            <dt>Salón intenso individual</dt>
            <dd><img src="https://cdn.shopify.com/s/files/1/0262/5080/5306/products/27167-1_600x.jpg?v=1618602784"
                alt="Salón intenso individual" width="200"><br>
                <p>3</p><br></dd>
            <br>
            <dt>Pastel Durazno</dt>
            <dd><img src="https://cdn.shopify.com/s/files/1/0262/5080/5306/products/497131-1_600x.jpg?v=1618602666"
                alt="Pastel Durazno" width="200"><br>
                <p>0</p><br></dd>
            <br>
            <dt>Pastel Baileys</dt>
            <dd><img src="https://cdn.shopify.com/s/files/1/0262/5080/5306/products/497440-1_600x.jpg?v=1620877558"
                alt="Pastel Baileys" width="200"><br>
                <p>1</p><br></dd>
        </dl>

        <h3>Bebidas</h3>
        <dl>
            <dt>Chocolate</dt>
            <dd><img src="https://cdn.shopify.com/s/files/1/0262/5080/5306/products/chocolate-1_600x.jpg?v=1618807049"
                alt="Chocolate" width="200"><br>
                <p>4</p></dd>
            <br>
            <dt>Tisana Relax</dt>
            <dd><img src="https://cdn.shopify.com/s/files/1/0262/5080/5306/products/tisana-relax-1_600x.jpg?v=1618807881"
                alt="Tisana Relax" width="200"><br>
                <p>3</p></dd>
            <br>
            <dt>Cappuccino</dt>
            <dd><img src="https://cdn.shopify.com/s/files/1/0262/5080/5306/products/cappuccino-1_600x.jpg?v=1618806745"
                alt="Cappuccino" width="200"><br>
                <p>7</p></dd>
            <br>
            <dt>Café Americano</dt>
            <dd><img src="https://cdn.shopify.com/s/files/1/0262/5080/5306/products/americano-1_600x.jpg?v=1618806696"
                alt="Café Americano" width="200"><br>
                <p>0</p></dd>
        </dl>


        <hr>

        <h2>Tabla de requerimientos de D'Joseph Pastelería</h2>

        <!--Tabla que indica que productos se necesitan hacer-->
        <table>
            <tr>
                <th>Producto</th>
                <th>Cantidad disponible</th>
                <th>Cantidad requerida</th>
                <th>Cantidad a elaborar</th>
            </tr>
            <tr>
                <td>Pastel Pingüino</td>
                <td>2</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Salón intenso individual</td>
                <td>3</td>
                <td>6</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Pastel Durazno</td>
                <td>0</td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Pastel Baileys</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Chocolate</td>
                <td>4</td>
                <td>10</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Tisana Relax</td>
                <td>3</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Cappuccino</td>
                <td>7</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Café Americano</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>

        <br>

        <hr>

        <!--Información de la pastelería-->
        <table>
            <tr>
                <th>Sucursal</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Horarios</th>
                <th>Síguenos</th>
            </tr>
            <tr>
                <td>&emsp; San Luis Potosí &emsp;</td>
                <td>&emsp; Av. Huasteca 295 Col. Lomas de San Luis Potosí Mpo San Luis
                    Potosí CP 78210 &emsp;
                </td>
                <td>&emsp; 444 833 6496&emsp;</td>
                <td>&emsp; Lun a Dom de 08:30 a 20:30 h&emsp;</td>
                <td><img src="../assets/img/facebook.png" alt="Facebook" width="16">
                    <img src="../assets/img/gorjeo.png" alt="Twitter" width="16">
                    <img src="../assets/img/youtube.png" alt="Youtube" width="16">
                </td>
            </tr>
        </table>
    </body>
</html>